
$home: "\e900";
$home2: "\e901";
$home3: "\e902";
$office: "\e903";
$newspaper: "\e904";
$pencil: "\e905";
$pencil2: "\e906";
$image: "\e90d";
$images: "\e90e";
$camera: "\e90f";
$bullhorn: "\e91a";
$book: "\e91f";
$books: "\e920";
$library: "\e921";
$file-text: "\e922";
$profile: "\e923";
$file-zip: "\e92b";
$phone: "\e942";
$envelop: "\e945";
$location: "\e947";
$location2: "\e948";
$clock: "\e94e";
$clock2: "\e94f";
$calendar: "\e953";
$printer: "\e954";
$display: "\e956";
$mobile: "\e958";
$mobile2: "\e959";
$tablet: "\e95a";
$floppy-disk: "\e962";
$undo: "\e965";
$undo2: "\e967";
$redo: "\e966";
$redo2: "\e968";
$forward: "\e969";
$reply: "\e96a";
$bubble: "\e96b";
$user: "\e971";
$user-tie: "\e976";
$quotes-left: "\e977";
$quotes-right: "\e978";
$hour-glass: "\e979";


.icon-hour-glass:before {
  content: "\e979";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-spinner2:before {
  content: "\e97b";
}
.icon-spinner3:before {
  content: "\e97c";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-stop2:before {
  content: "\ea1e";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-paragraph-left:before {
  content: "\ea77";
}
.icon-paragraph-center:before {
  content: "\ea78";
}
.icon-paragraph-right:before {
  content: "\ea79";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
